 <!-- Footer -->
 <footer class="cs-footer pt-sm-5 pt-4 bg-dark">
  <div class="container pt-3">
    <div class="row pb-sm-2">
      <div class="col-6 col-sm-3 col-lg-2 mb-4">
        <h3 class="h6 mb-2 pb-1 text-uppercase text-light">SOPORTE</h3>
        <ul class="nav nav-light flex-column">
          <li class="nav-item mb-2">
            <a [routerLink]="['/contacto']" style="cursor: pointer;" class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal">Nesecita ayuda</a>
          </li>
          <li class="nav-item mb-2">
            <a [routerLink]="['/contacto']" style="cursor: pointer;" class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal">Contactanos</a>
          </li>          
        </ul>
      </div>
      <div class="col-6 col-sm-3 col-lg-2 col-xl-3 mb-4">
        <h3 class="h6 mb-2 pb-1 text-uppercase text-light pl-xl-6">Tienda</h3>
        <ul class="nav nav-light flex-column pl-xl-6">
          <li class="nav-item mb-2">
            <a href="#carrusel_de_imagenes" class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal">Inicio</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#nuevos_productos" class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal">Nuevos productos</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#categorias" class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal">Categorias</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#reglas" class="nav-link mr-lg-0 mr-sm-4 p-0 font-weight-normal">Reglas</a>
          </li>
         
        </ul>
      </div>
      <div class="col-sm-6 col-lg-3 pb-2 pb-lg-0 mb-4">
        <h3 class="h6 mb-2 pb-1 text-uppercase text-light">CONTACTANOS</h3>
        <ul class="nav nav-light flex-column pb-3">
          <li class="nav-item text-nowrap mb-2">
            <span class="text-light mr-1">Telefono:</span><br>
            <a href="tel:4055550128" class="nav-link d-inline-block mr-lg-0 mr-sm-4 p-0 font-weight-normal">(064) 990 000 745 / Mijail Gerente</a>
          </li>
          <li class="nav-item text-nowrap mb-2">
            <span class="text-light mr-1">Correo Electrónico:</span><br>
            <a href="mailto:monteros@hotmail.com" class="nav-link d-inline-block mr-lg-0 mr-sm-4 p-0 font-weight-normal">monteros@hotmail.com</a>
          </li>
          <li class="nav-item text-nowrap mb-2">
            <span class="text-light mr-1">Dirección:</span><br>
            <a href="mailto:support@example.coms" class="nav-link d-inline-block mr-lg-0 mr-sm-4 p-0 font-weight-normal">Av. 13 de Noviembre 690- El Tambo, Huancayo, Peru, 12000</a>
          </li>
        </ul>
        <a href="https://www.facebook.com/" class="social-btn sb-solid sb-light mr-2">
          <i class="cxi-facebook"></i>
        </a>
        <a class="social-btn sb-solid sb-light mr-2">
          <i class="cxi-instagram"></i>
        </a>
        <a class="social-btn sb-solid sb-light mr-2">
          <i class="cxi-twitter"></i>
        </a>
        <a class="social-btn sb-solid sb-light mr-2">
          <i class="cxi-youtube"></i>
        </a>
        <a class="social-btn sb-solid sb-light">
          <i class="cxi-pinterest"></i>
        </a>
      </div>
      <div class="col-lg-4 col-xl-3 mb-4">
        <h3 class="h6 mb-3 pb-1 text-uppercase text-light">Descarga Nuestra App — <span style="color:var(--gold)">PRÓXIMAMENTE</span></h3>
        <div class="d-flex flex-wrap flex-sm-nowrap">          
          <a class="btn-market btn-google mb-3" role="button" aria-disabled="false">
            <span class="btn-market-subtitle">Descargalo en</span>
            <span class="btn-market-title">Google Play Store</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="border-top border-light">
    <div class="container py-4">
      <div class="font-size-xs text-light">
        <span class="font-size-sm">&copy; 2025 </span>
        <strong>MONTERO'S</strong> — Todos los derechos reservados.
        <i class="cxi-heart mt-n1 mx-1 font-size-base align-middle" style="color:var(--gold)"></i>
        <a class="text-light" target="_blank" rel="noopener noreferrer">Desarrollado por Sagiii Dev</a>
      </div>
    </div>
  </div>
</footer>